.heading {
  margin: 20px 0;
}

.send-wrapper {
  display: flex;
  justify-content: bottom;
  position: relative;
}

.send-wrapper .file {
  position: absolute;
  bottom: 0;
  margin: 10px;
  max-width: 50%;
  display: flex;
}
.send-wrapper .file span {
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-display {
  display: none !important;
}

.rte {
  min-height: 20em;
  max-height: 40em;
  overflow: auto;
  padding: 10px 10px 30px 10px;
}

.rte.dragover {
  border: 4px dashed #ccc;
}

.send-wrapper button {
  margin: auto 0 0 10px;
}

img {
  max-width: 400px;
  max-height: 400px;
}

.message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.message .content .text {
  white-space: pre-wrap;
}
.message .date {
  font-style: italic;
  flex-shrink: 0;
  margin-left: 20px;
}

.receive-heading {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.receive-heading button {
  margin: 10px;
}
.receive-heading button .bi {
  margin-right: 3px;
}
.receive-heading button .bi.spin::before {
  animation: Refresh-spin infinite 750ms linear;
}


@keyframes Refresh-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}